
.imageslide {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 320px;
    background: #081416;
    border-radius: 10px;
    overflow: hidden;
    bottom: 80px;
    z-index: 1;
  }
  
  .icon2,
  .icon3 {
    color: rgb(193, 193, 193);
    font-size: 60px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .icon2 {
    left: 10px;
  }
  
  .icon3 {
    right: 10px;
  }
  
  .image-container {
    display: flex;
    overflow: hidden;
    width: 80%;
    justify-content: space-between;
    align-items: center;
  }
  
  .image2 {
    width: 100%;
    max-width: 200px;  
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .image2 img {
    width: 100%;
    height: 200px;  
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .image2 img:hover {
    transform: scale(1.1);
  }
  @media screen and (max-width: 768px) {
    .imageslide {
        width: 95%;
        height: 250px;
    }
    
    .icon2, .icon3 {
        font-size: 30px;
    }

    .image-container {
        width: 90%;
    }

    .image2 {
        max-width: 150px;
    }

    .image2 img {
        height: 150px;
    }
}

/* Small Mobile Devices */
@media screen and (max-width: 480px) {
    .imageslide {
        width: 100%;
        height: 200px;
    }
    
    .icon2, .icon3 {
        font-size: 25px;
    }

    .image-container {
        width: 100%;
    }

    .image2 {
        max-width: 120px;
    }

    .image2 img {
        height: 120px;
    }
}